<% if invite.invite_type == 'friend request' %>
	<p> <%= sender.first_name %> wants to be friends with you </p>
<% elsif invite.invite_type == 'group request' %>
	<p> <%= sender.first_name %> wants you to join <%=  %> </p>
<% end %>