<div class="group-info">
	<p> <%= @group.name %> </p>
</div>

<div class="challenge-wrapper">
	<div class="eatin-wrapper">
		<%= image_tag 'eatin.svg', class: "challenge-image" %>
	</div>
</div>
<div class="members-wrapper row">
	<div class="col-3"></div>
	<div class="users col-6">
		<p class="group-members-title"> In this Group </p>
		<% @group.users.each do |user| %>
			<div class="user">
				<% if user.first_name == current_user.first_name %>
					<p> You </p>
				<% else %>
					<p> <%= user.first_name %> </p>	
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-3"></div>
</div> 