<h1> <%= @user.first_name %> </h1>
<%= link_to "Add Friend", friendships_path(friend_id: @user), method: :post %>
<div class="groups">
	<% @user.groups.each do |group| %>
		<div class="group">
			<p> <%= group.name %> </p>
		</div>
	<% end %>
</div>

<%= render @invites, sender: @sender %>