/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
	@import 'parsley';
	@import 'bootstrap';
	@import 'users';
	@import 'groups';
	@import 'groupies';
	@import 'friendships';
	@import 'challenges';
	@import url('https://fonts.googleapis.com/css?family=Montserrat');
	@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

	html, body {

		background: image-url('palm-tree-bg.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

		// background: #6a3093;  /* fallback for old browsers */
		// background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
		// background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		color: white;
		font-family: "Montserrat", "Montserrat Alternates";
	}

	@media (max-width: 800px) {

		.navbar {
			height: 150px;
	    background: #ffffffed;
			position: sticky;
	    top: 0;
	    z-index: 4;
		}

		.navbar-brand {
	    font-size: 30px;
		}

		.nav-logo {
			position: relative;
			top: 5px;
	    height: 150px;
		}

		.nav-link {
			font-size: 100px;
		}


		.navbar-toggler:not(:disabled):not(.disabled) {
			height: 90px;
	    width: 90px;
		}

		.navbar-light .navbar-toggler-icon {
			height: 75px;
	    width: 65px;
		}
		.collapse.show {
			background: #f8f9fa;
	    box-shadow: 0px 9px 11px 2px #43325a73;
	    z-index: 1;
		}

		.row {
	    width: 100%;
		}

		.color-black {
			color: black;
		}
	}

	// Skip to desktop for now, tablet looks OK with mobile styling
	@media (min-width: 1200px) {
		.navbar {
			height: 50px;
	    background: #ffffffed;
			position: sticky;
	    top: 0;
	    z-index: 4;
		}

		.navbar-brand {
	    // font-size: 10px;
		}

		.nav-logo {
	    height: 50px;
		}

		.nav-link {
			// font-size: 100px;
		}


		.navbar-toggler:not(:disabled):not(.disabled) {
			height: 90px;
	    width: 90px;
		}

		.navbar-light .navbar-toggler-icon {
			height: 75px;
	    width: 65px;
		}
		.collapse.show {
			background: #f8f9fa;
	    box-shadow: 0px 9px 11px 2px #43325a73;
	    z-index: 1;
		}

		.row {
	    width: 100%;
		}

		.color-black {
			color: black;
		}
	}