// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-info {
  text-align: center;
  font-size: 100px;
}

.groupie {
  font-size: 50px;
  background: #ffffff45;
  border-radius: 5px;
  text-align: center;

  a {
    color: inherit;
    cursor: pointer;
  }
}

.groupies {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background: #433583;
  overflow: hidden;
  // overflow: scroll; not needed for mobile
}

 // group show page

.challenge-wrapper {
	height: 800px;
	width: 300px;
  
  .food-emoji  {
    height: 129px;
    position: relative;
    left: 377px;
    bottom: 275px;
  }
}


.group-members-title {
  font-size: 75px;

  .accordian-toggle {
    position: relative;
    background: white;
    left: 0px;
    bottom: 95px;
    height: 50px;
    width: 50px;
  }
}

.eatin-wrapper {
  height: 400px;
  width: 800px;
  position: relative;
  background: #373779c9;
  border-radius: 50px;
  box-shadow: inset 0px 0px 18px 2px #0000008c;
  left: 30%;
}

.challenge-image {
  height: 300px;
  position: relative;
  top: 10%;
  left: 5%;
}

  // Create another toggleable class to create accordian effect
  // Change min-height to max-height?
  // Set .user to display: none; ?
.members-wrapper {
  margin: 0px 0px 50px 0px !important;
  transition: max-height 0.7s ease;
}

.members-wrapper-closed {
  @extend .members-wrapper;
  max-height: 122px;
  overflow: hidden;
}

.members-wrapper-open {
  @extend .members-wrapper;
  max-height: 1080px;
}

 // new group page

.new-group {
  position: relative;
  background: #14133eab;
  left: 8.5%;
  padding: 40px;
  border-radius: 15px;

  .form-title {
    text-align: center;
    font-size: 140px;
    margin-bottom: 50px;
  }
  
  .form-control {
    font-size: 4rem;
    line-height: 2;
    border-radius: 0.50rem;
  }

  .form-group {
    margin-bottom: 80px;
    width: 736px;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 20px;
    font-size: 78px;
    background: #2143ff87;
    color: white;
    border: blue;
    margin-bottom: 14px;
    line-height: 1px;
  }
  .radius-selector {
    height: 126px;
    width: 200px;
    background: white;
    font-size: 78px;
    color: #6b757c;
    position: relative;
    right: 36px;
    border-radius: 9px;
    option {
      font-size: 12px;
    }
  }

  .unit-selector {
    @extend .radius-selector;
    width: 457px;
    margin-left: 73px;
  }

  .group-selectors {
    position: relative;
    left: 5%;
  }
}

 // groups index page

.groups {
  text-align: center;

  .all-groups-title {
    font-size: 100px;
  }
  
}